<header>
    <div class="logo">
            <a href="\">
                <img src="images/logo-e.svg" alt="TINNY SHOP">
            </a>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="\">
                    หน้าหลัก
                </a>
            </li>
            <li>
                <a href="/product">สินค้า</a>
            </li>
            <li>
                <a href="/contacks">ติดต่อ</a>
            </li>
            <li>
                <a href="/payments">การชำระเงิน</a>
            </li>
        </ul>
    </div>
    <div class="menu-right">
            <div class="icon-profile">
                <div class="profile-user-nav">
                    <img src="profiles/<%= user.profilepic %>" alt="">
                </div>
                <p><a href="/<%= user.username %>"><%= user.username %></a></p>
            </div>
        <div class="menu-icon">
            <span class="material-symbols-outlined menu-icon">
                menu
                </span>
        </div>
        <div class="popup" id="popup">
            <div class="content">
                <ul>
                    <div class="icon-profile-m">
                        <div class="popup-user">
                            <div class="profile-user-nav">
                                <img src="profiles/<%= user.profilepic %>" alt="">
                            </div>
                            <p><a href="/<%= user.username %>"><%= user.username %></a></p>
                        </div>
                    </div><hr class="hr-popup">
                    <li><a href="\">หน้าหลัก</a></li>
                    <li><a href="/product">สินค้า</a></li>
                    <li><a href="/contacks">ติดต่อ</a></li>
                    <li><a href="/payments">ช่องทางการชำระเงิน</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>