<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ดูการติดต่อทั้งหมด</title>
    <link rel="stylesheet" href="/css/showc.css">
</head>
<body>
    <div class="container-products">
        <div class="product-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ชื่อ</th>
                        <th>อีเมล</th>
                        <th>ข้อความติดต่อ</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ข้อมูลสินค้าจะถูกเติมที่นี่ -->
                    <% Object.values(contacks).forEach(function (item) {%>
                        <tr>
                            <td><%= item._id %></td>
                            <td><%= item.name %></td>
                            <td><%= item.email %></td>
                            <td><%= item.des %> </td>
                            <td>
                                <form action="/contack-edit" method="POST">
                                    <input type="hidden" name="edit_id" value="<%= item._id %>">
                                    <button type="submit" class="edit-button" >แก้ไข</button>
                                </form>
                            </td>
                        </tr> 
                    <% }) %>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>